.container {
  padding: 50px;

}

.dashboard {
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 110px);
  margin-top: 20px;

}

.navbar-minimal {
  display: flex;
  background: white;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.dashboard-card.main{
  box-shadow: 2px 2px 5px red;
  border-radius: 10px;
}
.dashboard-card.omae{
  box-shadow: 2px 2px 5px red;
  border-radius: 10px;
}
.dashboard-card.kisama{
  box-shadow: 2px 2px 5px red;
  border-radius: 10px;
}

.dashboard.main {
  grid-row : 1 / span  2;
  grid-column: 1 / span 1;
}

.dashboard.omae {
  grid-row : 1 / span  2;
  grid-column: 1 / span 1;
}

.dashboard.kisama{
  grid-row: 2/ span 1;
  grid-column: 2/ span 3;
}

.dashboard-card-content a {
  color: #C0C0C0
}

.dashboard-card-content a:hover{
  color: red;
}


@media (max-width: 992px) {
  .dashboard {
    display: block;
  }
}

.dashboard h4 {
  color: green;
  font-family: "Kodchasan", sans-serif;
}

.dashboard h3 {
  color: red;
  font-family: "Kodchasan", sans-serif;
}

.dashboard-card {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard img {
  border-radius: 40px;
}

#footer {
  height: 70px;
}

#footer p{
  font-size: 10px;
  color: gray;
}

#footer a{
  font-size: 10px;
}

#footer a:hover {
  color: red;
}
