
/* Colors and fonts only */

body {
  background: rgb(240, 240, 240);
  color: rgb(20, 20, 20);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: 'Kodchasan' sans-serif;
  font-size: 50px;
  color: red;
}

h2 {
  font-size: 18px;
}

a{
  font-family: 'Kodchasan'sans-serif;
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: none;
  color: white;
}

script {
  color: red;
}

/* Custom design */
#banner {
  background-image: url(https://picsum.photos/g/200/300);
  padding: 100px 0;
  text-align: center;
  color: white;
  background-size: cover;
}

#banner h1 {
  color: black
}
#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}
#banner a{
  border-radius: 15px;
}
.card {
  padding:50px;
  text-align: center;
}
#footer {
  background-image: black;
  color: black;
  font-size: 20px;
  padding: 20px;
}

#footer a {
  font-size: 20px;
  color: green;
}
#footer a:hover{
  color: grey;
}
